<a href="https://colab.research.google.com/github/sumathi553/assignment/blob/main/Assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from keras.models import Model
from keras.layers import LSTM, Activation, Dense, Dropout, Input, Embedding
from keras.optimizers import RMSprop
from keras.preprocessing.text import Tokenizer
from keras.preprocessing import sequence
from keras.utils import pad_sequences
from keras.utils import to_categorical
from keras.callbacks import EarlyStopping

In [2]:
data=pd.read_csv('/content/spam.csv',encoding='latin')

In [3]:
df = pd.read_csv('/content/spam.csv',delimiter=',',encoding='latin-1')
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.drop(['Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   v1      5572 non-null   object
 1   v2      5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [5]:
X = df.v2
Y = df.v1
le = LabelEncoder()
Y = le.fit_transform(Y)
Y = Y.reshape(-1,1)

In [6]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.15)

In [7]:
max_words = 1000
max_len = 150
tok = Tokenizer(num_words=max_words)
tok.fit_on_texts(X_train)
sequences = tok.texts_to_sequences(X_train)
sequences_matrix = pad_sequences(sequences,maxlen=max_len)

In [8]:
inputs = Input(name='inputs',shape=[max_len])
layer = Embedding(max_words,50,input_length=max_len)(inputs)
layer = LSTM(64)(layer)
layer = Dense(256,name='FC1')(layer)
layer = Activation('relu')(layer)
layer = Dropout(0.5)(layer)
layer = Dense(1,name='out_layer')(layer)
layer = Activation('sigmoid')(layer)
model = Model(inputs=inputs,outputs=layer)

In [9]:
model.compile(loss='binary_crossentropy',optimizer=RMSprop(),metrics=['accuracy'])

In [10]:
model.fit(sequences_matrix,Y_train,batch_size=128,epochs=10,
          validation_split=0.2)

Epoch 1/10
30/30 [==============================] - 7s 32ms/step - loss: 0.3141 - accuracy: 0.8865 - val_loss: 0.1324 - val_accuracy: 0.9599
Epoch 2/10
30/30 [==============================] - 0s 14ms/step - loss: 0.0759 - accuracy: 0.9836 - val_loss: 0.0532 - val_accuracy: 0.9852
Epoch 3/10
30/30 [==============================] - 0s 15ms/step - loss: 0.1977 - accuracy: 0.9496 - val_loss: 0.0509 - val_accuracy: 0.9863
Epoch 4/10
30/30 [==============================] - 0s 14ms/step - loss: 0.0376 - accuracy: 0.9902 - val_loss: 0.0543 - val_accuracy: 0.9831
Epoch 5/10
30/30 [==============================] - 0s 14ms/step - loss: 0.0328 - accuracy: 0.9900 - val_loss: 0.0494 - val_accuracy: 0.9873
Epoch 6/10
30/30 [==============================] - 0s 14ms/step - loss: 0.0295 - accuracy: 0.9929 - val_loss: 0.0497 - val_accuracy: 0.9852
Epoch 7/10
30/30 [==============================] - 0s 15ms/step - loss: 0.0232 - accuracy: 0.9931 - val_loss: 0.0456 - val_accuracy: 0.9863
Epoch 8/10
30/30 [==============================] - 0s 14ms/step - loss: 0.0179 - accuracy: 0.9950 - val_loss: 0.0445 - val_accuracy: 0.9873
Epoch 9/10
30/30 [==============================] - 0s 14ms/step - loss: 0.0143 - accuracy: 0.9952 - val_loss: 0.0524 - val_accuracy: 0.9905
Epoch 10/10
30/30 [==============================] - 0s 14ms/step - loss: 0.0152 - accuracy: 0.9958 - val_loss: 0.0546 - val_accuracy: 0.9873

In [11]:
model.save('sms_classifier.h5')

In [12]:
test_sequences = tok.texts_to_sequences(X_test)
test_sequences_matrix = pad_sequences(test_sequences,maxlen=max_len)

In [13]:
accr = model.evaluate(test_sequences_matrix,Y_test)

27/27 [==============================] - 0s 9ms/step - loss: 0.0554 - accuracy: 0.9880

In [14]:
print('Test set\n  Loss: {:0.3f}\n  Accuracy: {:0.3f}'.format(accr[0],accr[1]))

Test set
  Loss: 0.055
  Accuracy: 0.988